<!DOCTYPE html>
<html>
  <head>
    <title>Inventry</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-gray-800 bg-gray-100 font-sans">
    <header class='bg-teal-500 text-white pt-2 px-6'>
      <h1>Invent'ry</h1>
      <nav class='flex justify-start ml-2 pt-1'>
        <% if params[:controller].casecmp?("rooms") && params[:id].blank?  %>
          <span class='flex-initial px-3 bg-white text-teal-700'>
            All
          </span>
        <% else %>
          <span class='flex-initial px-3'>
            <%= link_to "All", rooms_path %>
          </span>
        <% end %>

        <% Location.rooms.each do |room| %>
          <span class='flex-initial px-3 <%= 'bg-white text-teal-700' if room.casecmp?(params[:id])%>'>
            <%= link_to_unless room.casecmp?(params[:id]), room, room_path(room) %>
          </span>
        <% end %>
      </nav>
    </header>

    <div class="px-6 mt-2">
      <%= yield %>
    </div>
  </body>
</html>
